openapi: 3.1.0
info:
  title: NASCAR Feed Companies Inspection API
  description: NASCAR Feed REST API providing race results, standings, schedules, driver and team information, lap-by-lap data, live race telemetry, inspection data, and other motorsport data across NASCAR's racing series. Documentation is published via Swagger UI at feed.nascar.com.
  version: 1.0.0
  contact:
    name: NASCAR
    url: https://www.nascar.com/
  x-generated-from: https://feed.nascar.com/swagger/ui/index
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://feed.nascar.com
  description: NASCAR Feed production API
tags:
- name: Inspection
paths:
  /api/Inspection/aim/{id}:
    get:
      tags:
      - Inspection
      operationId: getInspectionAim
      summary: AIM inspection system data
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /api/Inspection/idr/{idrnumber}:
    get:
      tags:
      - Inspection
      operationId: getInspectionIdr
      summary: Entry IDR lookup
      parameters:
      - name: idrnumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /api/Inspection/devicenumbers:
    get:
      tags:
      - Inspection
      operationId: getInspectionDeviceNumbers
      summary: Device number mapping
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /api/Inspection/submission/technique:
    get:
      tags:
      - Inspection
      operationId: getInspectionTechniqueSubmissions
      summary: Technique submissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /api/Inspection/incidentwebhook:
    post:
      tags:
      - Inspection
      operationId: postInspectionIncidentWebhook
      summary: Safety incident reporting webhook
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
